---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../../pages/posts/*.md');

const pageTitle = "My Tags";

const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---
<BaseLayout pageTitle={pageTitle}>
	<p>This is where you can find the different tags</p>
	<div class="tags">
        {uniqueTags.map((tag) => (
          <p class="tag"><a href={tag}>{tag}</a></p>
        ))}
    </div>
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
