---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";

import { Image } from "astro:assets";
import logoDarkPath from "../images/logos/mg-logo-light.png";
import logoLightPath from "../images/logos/mg-logo-dark.png";

const { location } = Astro.props;
---

<nav>
    <Hamburger />
    <div class="logo-title">
        <Image class="logo" src={logoDarkPath} alt="" height={35} />
        <Image class="logoLight" src={logoLightPath} alt="" height={35} />
        <span class="title">Max Gohlke</span>
    </div>
    <Navigation {location} />
    <div class="themeIcon">
        <ThemeIcon />
    </div>
</nav>

<style is:global>
    nav {
        display: flex;
        justify-content: space-between;
    }
    .logo-title {
        backdrop-filter: blur(3px);
        padding: 0px 10px 0px 10px;
        border-radius: 30px;
        width: 192px;
    }
    .logo {
        display: none;
        margin-top: 11px;
        margin-bottom: -8px;
        -webkit-filter: drop-shadow(1px 1px 5px #222);
        filter: drop-shadow(1px 1px 5px #222);
    }
    .dark .logo {
        display: unset;
    }
    .logoLight {
        display: unset;
        opacity: 80%;
        margin-top: 10px;
        margin-bottom: -8px;
    }
    .dark .logoLight {
        display: none;
    }
    .title {
        font-size: 1.7rem;
        font-weight: 300;
        /* margin-top: -20px; */
        margin-left: 10px;
        text-wrap: nowrap;
        /* color: black; */
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.248);
    }
    .dark .title {
        font-weight: 200;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.702);
    }
    .disable {
        display: none;
    }
    .themeIcon {
        display: flex;
        justify-content: end;
        width: auto;
    }
    @media screen and (min-width: 636px) {
        .themeIcon {
            display: flex;
            justify-content: end;
            width: 100px;
        }
    }
</style>
