---
import { Image } from "astro:assets";

const { height, path, darkPath, duration } = Astro.props;
import flutterPath from '../images/project-images/question-answering.png';
import { slide } from "astro:transitions";

---

<div class="tech" transition:animate={slide({ duration: duration })}>
    <Image class="tech-image" src={flutterPath} alt="" height={330} />
    <slot />
</div>

<style is:global define:vars={{ path, darkPath }}>
    .tech {
        margin: 20px;
        background-color: rgb(212, 220, 249);
        border-radius: 20px;
        padding: 10px 10px 5px 10px;
        transition: 0.2s;
    }
    .tech:hover {
        filter: blur(0px);
        margin-top: 10px;
        margin-bottom: 30px;
        transition: 0.2s;
        /* border-color: #6c89a0; */
        /* box-shadow: 0 0px 5px #5880a1; */
    }
    .dark .tech {
        /* border: 1px solid #86a8e7; */
        background-color: rgb(23, 24, 28);
        /* background-color: transparent; */
    }
    .tech img{
        max-width:70vw;
        height: auto;
        border-radius: 15px;
    }
</style>
