---
import { Image } from "astro:assets";

const { title, height, path, duration } = Astro.props;

import { slide } from "astro:transitions";


---

<div class="tech" transition:animate={slide({ duration: duration })}>
    <span class="project-title">{title}</span>
    <div class="image-container">
        <Image class="tech-image" src={path} alt="" height={330} />
    </div>
    <div class="project-pills">

        <slot />
    </div>
</div>

<style is:global >
    .tech {
        display: flex;
        flex-direction: column;
        /* backdrop-filter: blur(3px); */
        /* align-items:center; */
        margin: 20px;
        background-color: rgb(212, 220, 249);
        border-radius: 20px;
        padding: 0px 10px 0px 10px;
        transition: 0.2s;
    }
    .tech:hover {
        cursor: pointer;
        filter: blur(0px);
        margin-top: 10px;
        margin-bottom: 30px;
        transition: 0.2s;
        /* border-color: #6c89a0; */
        /* box-shadow: 0 0px 5px #5880a1; */
    }
    .dark .tech {
        /* border: 1px solid #86a8e7; */
        background-color: rgba(30, 32, 34, 0.294);
        /* background-color: transparent; */
    }
    .image-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .tech img{
        max-width:70vw;
        height: auto;
        margin-bottom: 10px;
        border-radius: 15px;
    }
    .project-title{
        margin: 10px;
    }
    .project-pills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 5px
    }
</style>
